
  /* ==========================================================================
   My CSS
   ========================================================================== */


.card-body a {
    word-break: break-all;
  }


.schedule-container {
    min-width: 800px;
}

.input-container {
    min-width: 800px;
}


body {
background-image: url("../images/smalltiles.png");
}

table {
    border-collapse: separate;
    border-spacing: 6px;
}

.jumbotron {
    background-color: rgb(76, 82, 96, 0.4); 
    color: white;
    min-width: 800px;
}
